<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Asteroids List</mat-card-title>
      <mat-card-subtitle>A list of asteroids that will come close to earth today</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-asteroids-list></app-asteroids-list>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary" routerLink="/asteroidform">Search</a>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Curiosity's image of the day</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-curiosity></app-curiosity>
    </mat-card-content>
</mat-card>