<div class="example-container">
    <form [formGroup]="asteroidForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Choose a starting date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Choose an ending date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <button class="button" type="submit">Search for rocks !</button>
    </form>
  </div>